<div class="container">

    <div class="row">
        <div class="input-field col s12">
            <form>
                <input id="nome" ng-model="nome" type="text" class="validate"/>
                <button ng-click="enviar()" class="btn green waves-effect waves-light">Enviar</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <table class="bordered hoverable centered responsive-table">
                <thead>
                <tr>
                    <th data-field="id">Id</th>
                    <th data-field="nome">Nome</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="pessoa in pessoas | orderBy: 'nome' | filter: nome">
                    <td>{{ pessoa.id }}</td>
                    <td>{{ pessoa.nome }}</td>
                    <td>
                        <button class="btn red waves-effect waves-orange" ng-click="removePessoa(pessoa);">x</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>