<div class="container">
    <div class="col-md-5 col-md-offset-3 mg-top-5">
        <form>
        <input ng-model="nome" type="text" class="form-control mg-bottom-5"/>
        <button ng-click="enviar()" class="btn btn-success">Enviar</button>
        </form>
    </div>
    <div class="col-md-8 col-md-offset-2 mg-top-5">
        <table class="table table-responsive">
            <tr>
                <th>Id</th>
                <th>Nome</th>
            </tr>

            <tr ng-repeat="pessoa in pessoas | orderBy: 'nome' | filter: nome">
                <td>{{ pessoa.id }}</td>
                <td>{{ pessoa.nome }}</td>
                <td><button class="btn btn-danger" ng-click="removePessoa(pessoa);">x</button></td>
            </tr>
        </table>
    </div>
</div>